* {
  --primaryColor: #FFF1DE;
  --secondaryColor: #ECE2CE;
  --pointColor: #D4775A;
  --borderColor: #CABEAC;
  --txtBtnColor: #2D2D2D;

  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;

  background-color: var(--primaryColor);
}

#h_container {
  display: flex;
  color: var(--txtBtnColor)
}

.top_menu {
  top: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid var(--borderColor);
  box-shadow: 0px 5px 12px -6px rgba(97,97,97,0.74)
}

.top_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 24px 0 84px;
}

.logo_box {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.h_top_right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.h_top_login {
  padding: 4px 12px;
  background-color: var(--pointColor);
  border: 1px solid var(--pointColor);
  border-radius: 15px;
}

.h_top_login > a {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.left_menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background-color: var( --secondaryColor);
  border-right: 1px solid var(--borderColor);
  z-index: 1;
}

.left_menu_btn {
  height: 60px;
}

#menuicon {
  display: none;
}

#menuicon + label {
  display: block;
  width: 27px;
  height: 18px;
  position: relative;
  cursor: pointer;
  top: 20px;
  left: 15px;
}

#menuicon + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 30px;
  background: var(--txtBtnColor);
  transition: all .35s;
}

#menuicon + label span:nth-child(1) {
  top: 0;
}

#menuicon + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#menuicon + label span:nth-child(3) {
  bottom: 0;
}

#menuicon:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

#menuicon:checked + label span:nth-child(2) {
  opacity: 0;
}

#menuicon:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.m_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

.menu_btn_box {
  width: 60px;
  text-align: center;
  color: var(--txtBtnColor);
  align-items: center;
}

.mbox_btn_box {
  width: 60px;
  text-align: center;
  color: var(--txtBtnColor);
  align-items: center;
}

/* 아이콘 호버 */
i:hover:nth-child(1) {
  transform: scale(1.1);
}

.menu_none {
  display: none;
}

.menu_show {
  display: inline-block;
  width: 130px;
  padding-left: 16px;
  border-left: 1px solid var(--txtBtnColor);
  font-size: 16px;
  color: var(--txtBtnColor);
}

.clickBtn {
  margin-left: 150px;
}